{% extends "memorygalleryLayout.html" %}
{% load static %}

{% block title %}Memory Gallery Home{% endblock title %}

{% block content %}
<div id="galleryCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        {% for image in image_urls %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <img src="{{ image }}" class="d-block w-100" alt="Gallery Image">
            </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#galleryCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#galleryCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
{% endblock content %}
