{% extends "memorygalleryLayout.html" %}
{% load static %}
{% block title %}memory gallery home{% endblock title %}
{% block content %}
<div class="container mt-4">
   
    <div class="container text-center">
        <h1 class="mb-4">Memory Gallery</h1>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
            {% for image, description in image_data %}
            <div class="col">
                <div class="card shadow-sm">
                    <img src="{{ image }}" class="card-img-top" alt="Gallery Image">
                    <div class="card-body">
                        <p class="card-text">{{ description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
</div>
{% endblock content %}